{{> adminHeader }}

<div class="container-fluid configuration-site">
  <div class="container d-flex flex-column align-items-center">
    {{#if error}}
    <div class="container alert alert-danger text-center" role="alert">
      {{error}}
    </div>
    {{/if}}

    <h1 class="pb-3">{{submenuTitle}}</h1>

    <form encType="multipart/form-data" action="/admin/config" method="POST" class="w-75">

      <fieldset class="border p-3 mb-3">
        <legend class="scheduler-border">Archive layout and Date format</legend>
        <div class="form-row align-items-center">
          <div class="form-group col-md-6">
            <label for="archive_layout" class="col-form-label">Archive layout</label>
          </div>
          <div class="form-group col-md-6">
            <select class="custom-select my-1 mr-sm-2" id="archive_layout" name="archive_layout">
              {{#each layouts}}
              <option value="{{this.name}}" {{#if this.default}}selected{{/if}}>
                {{this.name}}
              </option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-row align-items-center">
          <div class="form-group col-md-4">
            <label for="date_format" class="col-form-label">Date format:</label>
          </div>
          <div class="form-group col-md-8">
            <input type="text" class="form-control" id="date_format" name="date_format"
              placeholder="Date format: YYYY MM DD" value="{{dateFormat}}">
          </div>
        </div>
      </fieldset>

      <fieldset class="border p-3 mb-3">
        <legend class="scheduler-border">Database</legend>

        <div class="form-row align-items-center">
          <div class="form-group col-md-4">
            <label for="database_file" class="col-form-label">Database file:</label>
          </div>
          <div class="form-group col-md-8">
            <input type="text" class="form-control" id="database_file" name="database_file"
              placeholder="Database Filename" value="{{dbFile}}">
          </div>
        </div>
      </fieldset>

      <fieldset class="border p-3 mb-3">
        <legend class="scheduler-border">Themes</legend>
        <div class="form-row align-items-center">
          <div class="form-group col-md-6">
            <label for="theme_name" class="col-form-label">Available themes</label>
          </div>
          <div class="form-group col-md-6">
            <select class="custom-select my-1 mr-sm-2" id="theme_name" name="theme_name">
              {{#each themes}}
              <option value="{{this.name}}" {{#if this.default}}selected{{/if}}>
                {{this.name}}
              </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="form-group col-md-6">
            <label for="upload_theme" class="col-form-label">Upload theme</label>
          </div>
          <div class="form-group col-md-6">
            <input type="file" name="theme_zip" id="upload_theme" accept=".zip">
          </div>
        </div>
      </fieldset>


      <div class="d-flex flex-row justify-content-between">

        <a class="btn btn-secondary" href="/admin" role="button">Discard</a>
        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button> --}}
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.querySelector('#date_format').addEventListener('keypress', (event) => {
    const regex = new RegExp("^[dDhHmMsSTZY\:\.\-\/ ]+$");
    const key = String.fromCharCode(event.charCode);
    if (!regex.test(key)) {
      event.preventDefault();
    }
  });
</script>