<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-center">
        <h1 class="display-4">{{siteTitle}}</h1>
    </div>
</div>

<div class="container-fluid p-3 d-flex flex-row justify-content-center mb-3 bg-light">
    <form class="container row w-50" action="/search" method="POST">
        <div class="form-group col-11 mb-0 pr-1">
            <input type="text" class="form-control" id="search_input" name="search_text">
        </div>
        <div class="form-group col-1 mb-0 pl-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div class="container-fluid row">
    <div class="container col-4 archive-container">
        {{#if tree}}
        <ul>
            Archive
            {{#each formatedBlogPostData}}
            <li>{{@key}}
                {{#each this}}
                <ul>
                    <li>{{@key}}
                        <ul>
                            {{#each this}}
                            <li><a href="/posts/{{this.id}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
                {{/each}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
        {{#if flat}}
        <ul class="list-group">
            Archive:
            {{#each postList}}
            <li class="list-group-item"><a href="/posts/{{this.id}}">{{this.published_at}} {{this.title}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>


    <div class="container pb-3 col-8">
        <ul class="list-group w-100">
            {{#each postList}}
            <li class="list-group-item">
                <div class="row d-flex justify-content-between p-2">
                    <div>
                        <a href="/posts/{{this.id}}">{{this.title}} (by: {{this.author}})</a>
                    </div>
                    <div>
                        {{this.published_at}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>