<div class="container-fluid read-post-header d-flex flex-column justify-content-center align-items-center bg-light">
  <h1>{{siteTitle}}</h1>
</div>

<div class="container-fluid post-info border pt-3 pb-3 d-flex flex-column justify-content-center mb-3">
  <div class="container-fluid text-left">
    <h3>{{post.title}}</h3>
  </div>
  <div class="container-fluid row">
    <div class="col-6">
      <h5>Author: {{post.author}}</h5>
    </div>
    <div class="col-6 text-right">
      <h5>{{post.created_at}}</h5>
    </div>
  </div>
</div>

<div class="container-fluid post-content">
  <div class="container-fluid h-100" id="editor">

  </div>
  <input name="content" type="hidden" id="post_content" value='{{post.content}}'>
</div>


<script>
  window.addEventListener('load', () => {
    const options = {
      modules: {
        toolbar: false
      },
      //readOnly: true,
      theme: 'snow'
    };
    const editor = new Quill('#editor', options);

    let blogPostContent;

    try {
      blogPostContent = JSON.parse(document.querySelector('#post_content').value);
    } catch (err) {
      if (err) {
        blogPostContent = document.querySelector('#post_content').value;
        editor.setText(blogPostContent)
        return
      }
    }

    editor.setContents(blogPostContent);
  })
</script>